// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  display: flex;
  padding: 20px;
  margin: 30px;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

a {
  padding: 5px;
  background-color: black;
}
